<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti debitis, in quo libero qui aperiam amet maiores facere dolore ex dolorum veniam voluptas tenetur nihil recusandae labore aut obcaecati eum quasi nemo modi! Voluptate, laudantium eum consequatur dolore eius obcaecati!</p>
    </div>
</div>