<div class="card">
    <div class="card-body">
        <div class="jumbotron mt-4 position-relative">
            <!-- Logo NUMB arriba a la derecha -->
            <img src="/img/Logo N4.png" alt="Logo NUMB" style="position: absolute; top: 20px; right: 20px; height: 75px;">
            
            <!-- Logo principal en el centro -->
            <img src="/img/logo_nav.png" class="mx-auto d-block m-2 logo" alt="Weinberg">
            
            <h1 class="display-4">Imprentas - NUMB</h1>
            <p class="lead">Tranquilidad, control y legado: 15 años de NUMB para tu imprenta.</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, voluptatem dolor perferendis illum
                neque fugit eveniet necessitatibus in eligendi velit corrupti ea sequi officiis ab repellat eum,
                incidunt omnis. Odio.</p>
            <a href="http://imprentaweinberg.com/" class="btn btn-primary btn-lg" target="_blank" rel="noopener noreferrer">Imprenta Weinberg</a>
        </div>
    </div>
</div>
